
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root{
    --border-color: #7D0A0A;
    --text-color: #BF3131;
    --board-color: #EAD196;
    --bg-color: #F3EDC8;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
    color: var(--text-color);
    font-family: 'Silkscreen', sans-serif;
    padding: 1rem;
}

.title{
    font-size: 2.5rem;
    margin-bottom: 1rem !important;
}

.title,
.turn{
    text-align: center;
}

.turn{
    display:none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board{
    width: 500px;
    height: 500px;
    display: none;
    border-radius:5px;
    gap:8px;
    background: var(--board-color);
    padding: 16px;
    box-shadow: -15px 20px 15px #33333352;
    margin-bottom: 2rem;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    background-color: var(--border-color);
    color: var(--bg-color);
    font-family: 'Silkscreen', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover{
    background: var(--text-color);
    transition: .3s;
}

.d-off{
    opacity:0.5;
    cursor:default;
}

.d-on{
    display:block !important;
}

.restart__btn{
    display: none;
    padding: .5rem 1rem;
    border:none;
    border-radius: 5px;
    background: var(--border-color);
    color: var(--bg-color);
    font-family: 'Silkscreen', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}

.mode__form button:hover,
.restart__btn:hover{
    opacity: 0.8 !important;
    transition: .2s;
}

.mode__form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.mode__form form{
    margin-bottom: 2rem;
}

.mode__form h3{

}

.mode__player input,
.mode__bot input{
    padding: .3rem 1rem;
    border:none;
    border-radius:5px;
    font-family: 'Silkscreen', sans-serif;
    background-color: var(--bg-color);
    color:var(--text-color);
    margin:.5rem 0 1rem 0;
}

.mode__player input:focus,
.mode__bot input:focus{
    outline: none;
    border: none;
}

.mode__player{
    display: flex;
    flex-direction: column;
}

.mode__bot{
    display: none;
}

.mode__form button{
    padding: .5rem 1rem;
    border:none;
    border-radius: 5px;
    background: var(--border-color);
    color: var(--bg-color);
    font-family: 'Silkscreen', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}



